/*** Reset ***/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:rgba(0,0,0,0.87);
background: url(../images/goldBack.png) repeat left top;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.header_wrap {
  background: #FFD740;
  background: -moz-linear-gradient(top, #FFC107, #FFD740);
  background: -webkit-linear-gradient(top, #FFC107, #FFD740);
  background: -ms-linear-gradient(top, #FFC107, #FFD740);
  background: -o-linear-gradient(top, #FFC107, #FFD740);
  background: linear-gradient(top, #FFC107, #FFD740);
}
.navActive {
    border-bottom: 2px solid #FF8F00;
}
.panel-heading {
  background: #5D4037;
  background: -moz-linear-gradient(bottom, #5D4037, #937a49);
  background: -webkit-linear-gradient(bottom, #5D4037, #937a49);
  background: -ms-linear-gradient(bottom, #5D4037, #937a49);
  background: -o-linear-gradient(bottom, #5D4037, #937a49);
  background: linear-gradient(bottom, #5D4037, #937a49);
}
.panel-body{
    font-size: 1.1em;
    background: url(../images/png_vactor_flower.png) no-repeat right bottom;
    background-size: 25%;
}
.panel-warning {
    border-color: #5D4037;
}
.panel-warning > .panel-heading {
    color: antiquewhite;
    background-color: #795548;
    border-color: #5D4037;
}
.toTop {
	text-align: right;
	margin: 0;
}
.marg0 {
    margin: 0;
}
.navbar-brand h2 {
    font-size: 1.4em; 
    color:#373737;
}
.label {
    display: inline-block;
    margin-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 5px;
}
.portfolioTitle {
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width: 640px) {
    .table td {
        display: block;
    }
    .portfolioText {
        font-size: 0.8em;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #f3c834;
}
