<div class="panel panel-warning" ng-controller="resumeCnt">
    <div class="panel-heading">
        <h4><a id="about" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>{{pageHeader}}</h4>
    </div>
    <div class="panel-body">
        <p class="text-right"><span class="glyphicon glyphicon-file" aria-hidden="true"></span><a href="data/DharmendraAhirwar_UI-UXLead.pdf" target="_blank">Resume</a></p>
    <table class="table table-striped">
        <tr ng-repeat="rs in resumeData">
            <td>
                <h4>{{rs.title}}</h4>
                <ul>
                    <li ng-repeat="rsdata in rs.rdata">{{rsdata}}</li>
                </ul>
            </td>
        </tr>
    </table>
    </div>
</div>