<div class="panel panel-warning" ng-controller="skillsCnt">
    <div class="panel-heading">
        <h4><a id="skills" class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>{{skills}}</h4>
    </div>

    <div class="panel-body">
        <h4 class="label label-primary"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;{{nonTech}}</h4>
        <p>
            <span class="badge" ng-repeat="x in NonTechnicalSkills track by $index">{{x}}</span>
        </p>
        <p>&nbsp;</p>
        
        <h4 class="label label-primary"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{tech}}</h4>
        <p>
            <span class="badge" ng-repeat="x in technicalSkills track by $index">{{x}}</span>
        </p>
    </div>
</div>