/*** Reset ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  font-size: 18px;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 14px; }

p { margin: 10px 0 12px 0; }

footer p { color: #f2f2f2; }

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: none;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  width: 300px;
  padding: 5px;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}


hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.inner {
  position: relative;
  max-width: 720px;
  margin: 0 auto;
}

#header_wrap {
  background: #FFD700;
  background: -moz-linear-gradient(top, #DAA520, #FFD700);
  background: -webkit-linear-gradient(top, #DAA520, #FFD700);
  background: -ms-linear-gradient(top, #DAA520, #FFD700);
  background: -o-linear-gradient(top, #DAA520, #FFD700);
  background: linear-gradient(top, #DAA520, #FFD700);
}

#project_title {
  margin: 0;
  color: #FFF8DC;
  text-shadow: 2px 1px #463E3F;
}

#project_tagline {
  color: #FFF8DC;
  background: none;
  text-shadow: 2px 1px #463E3F;
  margin-top: 0;
}

#main_content_wrap {
  background: url(../images/goldBack.png) repeat left top;
}

.main_content {
  padding-top: 30px;
  min-height: 350px;
}

#footer_wrap {
  background: #DAA520;
}

.portfolioContainer{}
.portfolioContainer .floatDiv{
  width: 48%;
  float: left;
  margin-left: 2%;
  padding-bottom: 10px;
}


/*** Resposive Styles ***/

@media screen and (max-width: 480px) {
  body { font-size:14px; }
  #project_title { font-size: 32px; }
  #downloads { display: none; }
  .inner {
    min-width: 320px;
    max-width: 480px;
  }
  .navSection a {
      display: block;
      text-align: left;
  }
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 22px; }
  h4 { font-size: 18px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }
  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

  .portfolioContainer .floatDiv{
    width: 98%;
  }

  img {
    position: relative;
    margin: 0 auto;
    max-width: 280px;
    padding: 0;
  }
}

/*** Pgae Helper Style ***/
.navSection{
	text-align: right;
	margin: 20px 0 -5px 0;
}
.navSection a{
	background: #DAA520;
	padding: 5px 15px;
	margin: 1px 0 0 5px;
	border-radius: 2px 15px;
	color: #463E3F;
	border: 2px solid #FFD700;
}
.navSection a:hover{
	background: #DAA520;
    color: #FFFFFF;
    border: 2px solid #463E3F;
}
.skillset span{
	background: #D1D0CE;
	border: 1px solid #2B3856;
	padding: 3px 10px;
	margin: 10px 10px 0 0;
	display: inline-block;
	border-radius: 5px;

  background: -moz-linear-gradient(top, #D1D0CE, #fffd75);
  background: -webkit-linear-gradient(top, #D1D0CE, #fffd75);
  background: -ms-linear-gradient(top, #D1D0CE, #fffd75);
  background: -o-linear-gradient(top, #D1D0CE, #fffd75);
  background: linear-gradient(top, #D1D0CE, #fffd75);
}
.padd_top_5{ padding-top: 5px;}
.padd_left_5{ padding-left: 5px;}
.padd_bot_5{ padding-bottom: 5px;}
.padd_right_5{ padding-right: 5px;}
.padd_top_10{ padding-top: 10px;}
.padd_left_10{ padding-left: 10px;}
.padd_bot_10{ padding-bottom: 10px;}
.padd_right_10{ padding-right: 10px;}
.padd_top_15{ padding-top: 15px;}
.padd_left_15{ padding-left: 15px;}
.padd_bot_15{ padding-bottom: 15px;}
.padd_right_15{ padding-right: 15px;}
.padd_top_20{ padding-top: 20px;}
.padd_left_20{ padding-left: 20px;}
.padd_bot_20{ padding-bottom: 20px;}
.padd_right_20{ padding-right: 20px;}
.clear{ clear: both;}
.divider{ border-top: 2px solid #c1c1c1;}